footer.footer--principal
	.logo.logo--footer: img(src="")
	nav.nav--footer: ul
		li: a(href="#") Historias
		li: a(href="#") Juegos
		li: a(href="#") Espacio
		li: a(href="#") Hardware
		li: a(href="#") Software
	.nav--social: ul
		li Siguenos
		li: a(href="#"): i.fab.fa-instagram
		li: a(href="#"): i.fab.fa-pinterest
		li: a(href="#"): i.fab.fa-twitter
		li: a(href="#"): i.fab.fa-facebook-f