header.header--principal
	.logo.logo--header: img(src="")
	nav.nav--header: ul
		li: a(href="#") Noticias
		li: a(href="#") Ciencia
		li: a(href="#") Cine y TV
		li: a(href="#") PC y Mobile
		li: a(href="#") Tecnología
	a(href="#" class="header__busqueda")
		i.fas.fa-search
		span Buscar